@model IEnumerable<InsanosPreCadastro.Domain.Integrante>

@{
    ViewData["Title"] = "Lista";
}

@{
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}

<h6 align="middle">Novos integrantes pré-cadastro - Resumo</h6>


<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark" style="font-size:10px" align="justify">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Divisao)
            </th>          
            <th>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.NomeColete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefoneCelular)
            </th>                      
        </tr>
    </thead>
    <tbody style="font-size:10px">
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Divisao)
            </td>          
            <td>
                @Html.DisplayFor(modelItem => item.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeColete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoneCelular)
            </td>           
        </tr>
        }
    </tbody>
</table>